.container {
  margin: 50px 0;
  text-align: center;
}

.container h1 {
  color: #008458;
}

.container p {
  color: #cbcbcb;
}

.container a {
  text-decoration: none;
  color: #89c9b3;
  padding: 3px 5px;
  border-radius: 10px;
  transition:  0.2s all ease-in-out;
}

.container a:hover{
    color: #49b48e;
}
